# Build output
dist/

# Dependencies
node_modules/
.pnpm-store/

# Cache & temporary files
.astro/

# Environment
.env
.env.production
.env.local

# OS and editor files
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
