---
layout: page
---

{{ content }}

{% assign sorted-posts = site.posts | where: "categories", page.category-filter %}

{%- if sorted-posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in sorted-posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ page.category-filter | prepend: "/feed/" | append: ".xml" | relative_url }}">via RSS</a></p>

{%- else -%}

<p>There's nothing to see here.</p>

{%- endif -%}
  